body {
    font-family: monospace;
}

.node {
    color: steelblue;
}

.token {
    color: limegreen;
}

.trivia {
    color: darkred;
}

.none {
    color: dimgray;
}

ul {
    padding-left: 1.5em;
}

.missing {
    color: red;
}

.implicit {
    color: dimgray;
}
