a {
	text-decoration: none;
	display: inline-block;
	margin: 2px;
}

a:hover {
	text-decoration: underline;
}

.node {
	color: dodgerblue;
}

.token {
	color: green;
}

.trivia {
	color: crimson;
	white-space: pre;
}

.none {
	color: dimgray;
}

ul {
	padding-left: 1.5em;
	list-style-image: none;
	list-style-type: none;
}

pre {
	margin: 0;
}

.missing {
	color: red;
}

.implicit {
	color: dimgray;
}
