a {
  text-decoration: none;
}

.node {
  color: green;
}

.token {
  color: dodgerblue;
}

.trivia {
  color: crimson;
}

ul {
  padding-left: 1.5em;
}

pre {
  margin: 0;
}

.selected {
  background-color: slategray;
}

.collapsibleList li {
  list-style-image: none;
  list-style-type: none;
}

li.collapsibleListOpen {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH4QISExcd6flblQAAAFBJREFUCNddjN0NQEAYBMdWIGhDhIjq77Rzfz3c5wXh9nFmsp2Z0S6lNKuFOecFOH+ilLKamQemV4QQtlqrA0YA3XCX5IHhCRVjPCQ5oP/eXnoeHoq25cHKAAAAAElFTkSuQmCC');
  cursor: pointer;
}

li.collapsibleListClosed {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH4QISExgrodvSwwAAAE9JREFUGNN9j9EJwEAIQ7VTuE836EROdBt0Ht3i9euKHtcGhBAfhAgggESET1/vNZnJDjqkSFWvzPSaNQA4V6gBO60VNzDMzL8q2nOGvzMfy4xdJTo+SToAAAAASUVORK5CYII=');
  cursor: pointer;
}